/**************************
STYLESHEET CONNEXION
*****************/
#login{
  background-image: url('../images/login-background.jpg');
  background-size: auto;
  background-repeat: repeat-x;
}
#admin{
  background-image: url('../images/admin-background.jpg');
  background-size: auto;
  background-repeat: repeat-x;
}
#connexion-block{
   display: flex;
   align-self: center;
   margin: auto 0;
}
#field{
  display: flex;
  justify-content: flex-end;
}
footer{
  text-align: center;
}
#submit:hover{
  background-color: green;
  transition: background-color 1000ms linear;
}
#email:focus, #password:focus{
  border: 1px solid red;
}
